.account{
    padding: 120px 0 60px 0;
}
.account-wrapper{
    display:flex;
    gap:40px;
    align-items:flex-start;
}
.account-sidebar{
    width:280px;
    flex-shrink:0;
}
.account-content{
    flex:1;
}
.account-sidebar{
    border:1px solid #eee;
    border-radius:20px;
    overflow:hidden;
}
.account-user{
    padding:30px;
    border-bottom:1px solid #eee;
}
.account-sidebar ul{
    list-style:none;
}
.account-sidebar li a{
    display:flex;
    gap:12px;
    padding:18px 30px;
    text-decoration:none;
    color:#333;
}